
.conteiner{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

h1{
    color: #FFFFFF;
    font-size: 36px;
    width: 203px;
    margin-left: 15px;
}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
  
}
 img{
     width: 52px;
     height: 60px;
 }

 .bottom{
     background-color: #FFFFFF;
     height: 70px;
     display:  flex;
     align-items: center;
     justify-content: center;
     font-size: 18px;
     position: fixed;
     bottom: 0;
     width: 100%;
     
 }

 .tdcards{
     padding-bottom: 70px;
 }