

.root{
    height: 100vh;
   background-color: #FB6B6B
}

p{
    color: black;
    font-size: 80px;
}
.nPegunta{
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;

}